#spis {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

postac {
    background-color: var(--tlo3);
    width: fit-content;
    padding: 20px;
    display: flex;
}

zdj {
    display: block;
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-image: url("https://i.imgur.com/D7Pk6ri.png");
}

info {
    display: block;
    margin-left: 12px;
    text-align: center;
}

imie {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

plec {
    display: block;
    text-transform: lowercase;
    color: var(--tekst3);
}

klan {
    display: block;
    text-transform: uppercase;
}

ranga {
    display: block;
    text-transform: lowercase;
    color: var(--tekst3);
}