#spis {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 30px;
    width: fit-content;
    margin: auto;
}

postac {
    background-color: var(--tlo3);
    width: fit-content;
    padding: 20px;
    border: 1px solid var(--tlo3);
}

zdj {
    display: block;
    width: 200px;
    height: calc(350px * (200/250));
    background-position: center;
    background-size: cover;
    background-image: url("../img/spis.png");
}

info {
    display: block;
    margin-left: 12px;
    text-align: center;
}

imie {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    padding: 9px 0px;
    font-size: 16px;
    margin-top: 5px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

plec {
    display: block;
    text-transform: lowercase;
    color: var(--tekst3);
}

klan {
    display: block;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

ranga {
    display: block;
    text-transform: lowercase;
    color: var(--tekst3);
}

linki {
    float: right;
}