* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--tlo2);
    color: var(--tekst);
    font-family: verdana;
    font-size: 14px;
}

banner {
    display: block;
    width: 100%;
    height: 346px;
    background-image: url(../img/banner.png);
    background-position-y: -89px;
    background-size: cover;
}

nav {
    background-color: var(--tlo4);
    padding: 10px 7px;
    position: fixed;
    top: 0;
    color: var(--tekst2);
    width: 100%;
    font-family: "Poppins", sans-serif;
}

main {
    margin-top: 50px;
    padding: 0px 30px;
}

header {
    background-color: var(--tlo3);
    padding: 30px 12px;
    text-align: center;
    border: solid 1px var(--tlo4);
    margin: 20px 0px
}

page {
    display: block;
    width: 80%;
    height: auto;
    background-color: var(--tlo1);
    margin: auto;
}

h1 {
    color: var(--em2);
    font-family: "Poppins", sans-serif;
}

p {
    text-align: justify;
    line-height: 18px;
    padding: 5px 30px;
}

em {
    color: var(--em1);
    font-weight: bold;
    text-decoration: none;
}

b{
    color: var(--em1);
}

a {
    color: var(--em2);
    text-decoration: none;
}

footer {
    background-color: var(--tlo4);
    text-align: center;
    color: var(--tekst2);
    padding: 10px 0px;
    font-size: 12px;
    margin-top: 10px;
}

nav a {
    color: var(--tekst2);
    text-transform: uppercase;
    font-size: 12px;
}

/** ROOT COLORS **/
:root {
    --tlo1: #373737;
    --tlo2: #2e2e2e;
    --tlo3: #242424;
    --tlo4: #1C1C1C;
    --tekst: #bdbdbd;
    --em1: #9d996f;
    --em2: #82ad68;
    --em3: #84855e;
    --grom:#FFCE7A;
    --cien:#E38F9C;
    --rzeka:#7898FF;
    --wicher:#A3E0D5;
    --pnk:#ffffff;
    --samotnik:#7DBF65;
    --npc:#BE8EF5;
    --pustka:#6C8570;
    --pwl:#886CAB;
    --gk:#5C5AA6;
    --cl:#8F534B;
    --nkt:#828282;
    --border: 1px #1C1C1C solid;
    --scrollthumb: #7e7e7f;
    --tekst2: #eee;
    --tekst3: #7e7e7f;
}

/** POPPINS **/

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
